name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        docker login --username ilhamas18 --password ${{ secrets.GH_TOKEN }} ghcr.io
        docker build . --file Dockerfile --tag ghcr.io/ilhamas18/enotulen-be:latest
        docker push ghcr.io/ilhamas18/enotulen-be:latest
